.main {
    /* TODO */
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    align-items: left;
    text-align: left;
    margin-bottom: 20px;
}

.deleteButton {
    background-color: #dc3545;
    padding: 2px 8px;
    font-size: 12;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}