/* navbar wrapper */
.app-navbar {
  background: #131d43;
  border-bottom: 4px solid #ffb718;
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-top: 0.5rem;
  height: 6rem;
  width: auto;
  display: block;
}

/* text buttons */
.nav-btn {
  border: none;
  background: transparent;
  color: #ffb718;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.nav-btn:hover {
  text-decoration: underline;
}

/* Style hamburger icon */
.custom-toggle .navbar-toggler-icon {
  filter: invert(94%) sepia(89%) saturate(749%) hue-rotate(1deg)
    brightness(103%) contrast(103%);
}

/* Transparent button background */
.custom-toggle {
  border-color: #ffb718 !important;
}
